# OAuth2 Proxy Config File
provider = "oidc"

## the http url(s) of the upstream endpoint. If multiple, routing is based on path
upstreams = [
    "http://productpage:9080/productpage",
    "http://productpage:9080/api/v1/products/",
    "http://productpage:9080/api/v1/products",
    "http://productpage:9080/static/",
    "http://productpage:9080/static",
    "http://productpage:9080/login",
    "http://productpage:9080/logout",
    "http://details:9080/details/",
    "http://details:9080/details",
    "http://reviews:9080/reviews/",
    "http://reviews:9080/reviews",
    "http://ratings:9080/ratings/",
    "http://ratings:9080/ratings",
    "http://httpbin:80/",
]
http_address = "0.0.0.0:4180"

## pass HTTP Basic Auth, X-Forwarded-User and X-Forwarded-Email information to upstream
pass_basic_auth = true
pass_user_headers = true
## pass the request Host Header to upstream
## when disabled the upstream Host is used as the Host Header
pass_host_header = true

## Email Domains to allow authentication for (this authorizes any email on this domain)
## for more granular authorization use `authenticated_emails_file`
## To authorize any email addresses use "*"
email_domains = [
    "*"
]

## Pass OAuth Access token to upstream via "X-Forwarded-Access-Token"
pass_access_token = true
cookie_secret = "1234123412341234"
cookie_expire = "24h"
cookie_refresh = "12h"
cookie_secure = false
cookie_httponly = true

skip_provider_button = true
oidc_groups_claim = "cognito:groups"
